
# ========================
# DATABASE
# ========================
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=db_auth


# ========================
# JWT CONFIG
# ========================
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRATION=3600
JWT_REFRESH_EXPIRATION=7776000
JWT_ISSUER=auth-api

# ========================
# APP CONFIG
# ========================
PORT=3000

# ========================
# OPTIONAL (ENV MODE)
# ========================
NODE_ENV=development
